Package: com.pavunato.carsurf
Name: CarSurf
Version: 0.2.5
Architecture: iphoneos-arm64
Description: Run any app on your CarPlay display. A CarBridge-equivalent tweak rebuilt for the modern (iOS 15-18) CarPlay pipeline.
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Recommends: com.opa334.libsandy
Maintainer: pavunato
Author: pavunato
Section: Tweaks
Tag: compatible::ios18
Depiction: https://repopo.pages.dev/changelogs/carsurf-0.2.1.html
